body {
  background-color: #1e024d;
  font-family: Poppins, serif;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  font-family: Poppins, serif;
}

.container {
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  text-align: center;
  margin: 10px 10px 10px 10px;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-bottom: -10px;
}

.show-details {
  margin-bottom: 50px;
}

#show-info {
  background-color: aliceblue;
  color: #1a1a1a;
  border-radius: 0 0 10px 10px;
  text-align: left;
  padding: 15px;
}

.reviews-section {
  text-align: left;
}

.adding-reviews {
  display: flex;
  flex-direction: column;
}

.adding-reviews input,
textarea {
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  align-self: baseline;
  border-radius: 20px;
  padding: 10px 20px;
  color: #1e024d;
  font-weight: 750;
  cursor: pointer;
}

button:hover {
  background-color: #ded1f3;
  cursor: pointer;
}

#review-input {
  padding: 10px 0px 30px 10px;
}

#rating-input {
  align-items: flex-start;
  width: 30%;
  padding: 10px 0px 10px 10px;
}

#all-reviews {
  margin-top: 50px;
  border-radius: 10px;
  color: white;
  font-size: 1em;
}

.review {
  background-color: #380a88;
  color: white;
  padding: 20px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.review p {
  margin-bottom: 30px;
  padding: 0;
  line-height: 1.2;
}

.review .comment {
  margin-bottom: 20px;
}

.review button {
  margin: -8px;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
}

#star-rating {
  display: flex;
  flex-direction: row-reverse;
  font-size: 30px;
  justify-content: flex-end;
  margin-top: -30px;
}

#star-rating input {
  display: none;
}

.rating input:checked ~ label {
  color: orange;
}

#star-rating label {
  cursor: pointer;
}

#star-rating label:hover,
#star-rating label:hover ~ label {
  color: orange;
  transition: ease-in-out 0.2s;
}
